body {
    font-family: Georgia, Arial, 'georgiaregular',sans-serif, 'Open Sans';
    font-size: 16px;
    font-weight: 400;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: subpixel-antialiased;
    color: #fff;
    line-height: 25px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    display: block;
  }

  .main-header {
    background-color: #ff8000;
    padding: 22px 15px 10px;
  }
  /* Add a black background color to the top navigation */
.topnav {
background-color: #ff8000;
overflow: hidden;
/* min-height: 48px; */
}

/* Style the links inside the navigation bar */
.topnav a {
float: left;
display: block;
color: #f2f2f2;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

/* Add an active class to highlight the current page */ */
.active {
background-color: orange;
color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
display: none;
}

/* Dropdown container - needed to position the dropdown content */
.dropdown {
float: left;
overflow: hidden;
min-height: 48px;
}

/* Style the dropdown button to fit inside the topnav */
.dropdown .dropbtn {
font-size: 17px;
border: none;
outline: none;
color: white;
padding: 14px 16px;
background-color: #ff8000;
font-family: inherit;
margin: 0;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
display: none;
position: absolute;
background-color: #ff8000;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

/* Style the links inside the dropdown */
.dropdown-content a {
/* float: none; */
color: white;
padding: 12px 16px;
text-decoration: none;
display: block;
text-align: left;
}

/* Add a dark background on topnav links and the dropdown button on hover */
.topnav a:hover, .dropdown:hover .dropbtn {
background-color: orange;
color: white;
}

/* Add a grey background to dropdown links on hover */
.dropdown-content a:hover {
background-color: orange;
color: white;
}

/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdown:hover .dropdown-content {
display: block;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 800px) {
.topnav a:not(:first-child), .dropdown .dropbtn {
  display: none;
}
.topnav a.icon {
  float: right;
  display: block;
  font-size: 30px;
  background-color: orange;
}
.firm-name{
  margin: 10px 0px 20px 70px;
}
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 800px) {
.topnav.responsive {position: relative;}
.topnav.responsive a.icon {
  position: absolute;
  right: 0;
  top: 0;
}
.topnav.responsive a {
  float: none;
  display: block;
  text-align: left;
}
.topnav.responsive .dropdown {float: none;}
.topnav.responsive .dropdown-content {position: relative;}
.topnav.responsive .dropdown .dropbtn {
  display: block;
  width: 100%;
  text-align: left;
}
.topnav.firm-name {
  position: sticky;
  right: 0;
  top: 0;
  text-align: right;
}
}

  .firm-name{
    margin: 90px 10px 20px 30px;
  }
  .firm-name a {
    text-decoration: none;
    /* font-size: 55; */
    color: white;
  }
  .blog-body{
    color: black;
  }
  .blog{
    font-size: 16px;
    margin-top: 20px;
    padding-bottom: 0px;
  }
  .blog span{
    color: #ff8000;
  }
  hr{
    border: 0;
    clear:both;
    display:block;
    width: 100%;
    background-color:#FFFF00;
    height: 1px;
  }
  .blog hr{
    padding:0px;
    margin: 0px;
  }
  .month-archived {
    color: #ff8000;
  }
  .post-date{
    font-size: 15px;
  }
  .post-title a {
    text-decoration: none;
    color: black;
    font-size: 19px;
    text-transform: capitalize;
  }
  .post-title a:hover {
    color: #ff8000;
  }
  .print_share{
    margin: 20px 0px;
  }
  .print_share a {
    color: #aaa;
  }
  .print_share a:hover {
    color: #ff8000;
  }
  .blog-post{
   font-size: 16px !important;
  }
  .last-line hr{
    margin-top: 15px;
  }
  .post-cat a{
    color:#ff8000;
  }
  .related-header {
    padding: 0px 6px 0px;
    margin: 0px 2px;
    font-size: 14px !important;
  }
  .related-line hr{
    padding:0px;
    margin: 25px 1px 2px 2px;
  }
  .connect-us, .search-blog  {

    font-size: 14px !important;
}
  .connect-us a {
        color: #ff8000;
        font-weight: bold;

    }
  .connect-us-underline hr{
    margin-bottom: 3px;
  }
  .recent-post-all-blogs a{
    color:black;
    text-decoration: none;
    font-size: 14px;
    text-transform: capitalize;

  }
  .recent-post-all-blogs a:hover{
    color:#ff8000;
  }
  .view-post-blog a{
    color:#ff8000;
    text-decoration: none;
  }
  .practice-list{
    color: black;
    font-size: 12px;
    margin-top: 20px;
  }
  .practice-list .practice-title{
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .practice-list p{
    margin: 0px;
  }
  .practice-list a{
    text-decoration: none;
    text-transform: uppercase;
    color: grey;
    font-weight: bold;
  }
  .practice-list a:hover{
    color: #ff8000;
  }
  .practice-body{
    color: black;
    margin-left: 0px;
  }
  .practice{
    font-size: 16px;
    margin-top: 20px;
    padding-bottom: 0px;
  }
  .practice span{
    color: #ff8000;
  }
  .share-media a {
    text-decoration: none;
    color: #ff8000;
  }
  .share-media a:hover {
    color: gold;
  }
  .practice-title-msg a {
    color: #ff8000;
    font-weight: bold;
  }

  .practice-intro{
    margin-bottom: 20px;
  }
  .contact{
    color: black;
    font-size: 12px;
    margin-top: 20px;
  }
  .contact h5{
    margin: 10px 0px;
  }
  .contact .contact-title{
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ff8000;
  }
  .contact p{
    margin: 0px;
  }
  .contact a {
    text-decoration: none;
    text-transform: uppercase;
    color: grey;
    font-weight: bold;
  }
  .contact a:hover{
    color: #ff8000;
  }
  .map-header{
    color: black;
    margin-left: 15px
  }
  .form {
    color: black;
  }
  .feedback{
    margin-left: 80px;
  }
  .feedback input:focus, .feedback textarea:focus{
    border-color:  #ff8000;

  }
  .feedback .btn{
    background-color: #ff8000;
    border-color: gold;
  }
  .feedback .btn:hover{
    background-color: gold;
    border-color: #ff8000;
  }
  .contact-map{
    margin-bottom: 50px;
    padding-left: 50px;
  }
  .footer{
    background-color: #ff8000;
    margin-top: 20px;
    padding: 22px 15px 10px;
  }
  /* .footer a {
      text-decoration: none;
      text-transform: uppercase;
      color: white;
      font-weight: bold;
  } */
  .footer-social a:hover {
    background-color: orange;
  }
  .footer-social a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}
.copyright a{
  text-decoration: none;
  color: white;
  font-size: 15px;
}
